/********** ------ Global Styles ------ **********/

@font-face {
  font-family: josefinSlab;
  src: url("assets/JosefinSlab-VariableFont_wght.ttf");
}

* {
  margin: 0px 0px;
  font-family: josefinSlab;
  font-weight: bolder;
}

html {
  background: linear-gradient(rgb(225, 225, 225), rgb(19, 19, 19));
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  border: solid black;
}

.inset-panel {
  background-color: #EEEEEE;
  border: solid white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 1px rgb(85, 85, 85);
}

.hidden {
  display: none !important;
}

/* ------ Board Square Borders ------ */

.right-bottom-border {
  border: none;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.right-border {
  border: none;
  border-right: solid 2px black;
}

.bottom-border {
  border: none;
  border-bottom: solid 2px black;
}

.no-border {
  border: none;
}

/********** ------ Game Title ------ **********/

.title-box {
  background-color: white;
  position: absolute;
  top: -2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75vw 2vw;
  border: solid black;
  border-radius: 10px;
}

.title-box > img {
  width: 22.5vw;
}

/********** ------ Player Board Styles ------ **********/

.player-board {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------ Message Boxes ------ */

.message-box {
  visibility: hidden;
  height: 3.25vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: .75vw;
}

.message-box h2 {
  font-size: 1.25vw;
  color: black;
}

.should-display {
  visibility: visible;
}

.turn-message {
  display: grid;
  grid-template-columns: 0fr 0fr;
  grid-template-rows: 0fr 0fr;
  grid-template-areas: "first arrow" "second arrow";
  column-gap: .70vw;
  row-gap: .5vw;
}

.turn-message :nth-child(1) {
  grid-area: first;
  align-self: end;
} 

.turn-message :nth-child(2) {
  grid-area: second;
}

.indicator-arrow {
  width: 2vw;
  position: relative;
  bottom: 10px;
  grid-area: arrow;
  align-self: center;
  animation: point 1.5s infinite ease-in-out;
}

@keyframes point {
  0%, 100% {
    transform: translateY(0);
  } 50% {
    transform: translateY(15px);
  }
}

/* ------ Player Displays ------ */

.player-display {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  padding: .5vw 1vw;
  border: solid white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 1px rgb(99, 99, 99);
}

.player-display > img {
  width: 2vw;
  height: 2vw;
  margin-right: 15px;
}

.win-count-display {
  font-size: 1vw;
}

/* ------ Win Grids ------ */

.test {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: solid 1px rgb(184, 184, 184);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(109, 109, 109);
  overflow: scroll;
}

.test::-webkit-scrollbar {
  display: none;
}

.win-grid {
  display: grid;
}

.mini-game-board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  border: solid thin black;
  border-radius: 5px;
}

.mini-square {
  background-color: rgba(255, 255, 255, 0);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: stretch;
  border-width: 1px;
}

.raven-flat {
  background-image: url("assets/raven-flat.svg");
}

.heart-flat {
  background-image: url("assets/heart-flat.svg");
}

/********** ------ Play Area Styles ------ **********/

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red;
}

/* ------ Game Board ------ */

.board-panel {
  display: flex;
  justify-content: center;
  align-items: center;

}

.game-board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  border: solid 1px rgb(184, 184, 184);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(109, 109, 109);
}

.token-box, .board-square {
  cursor: pointer;
}

.board-square {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  padding: 0px 0px;
  box-shadow: none;
  outline: none;
}

.token-box {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
}

.raven-preview {
  background-image: url("assets/raven-preview.svg");
}

.heart-preview {
  background-image: url("assets/heart-preview.svg");
}

.raven {
  background-image: url("assets/raven-token.svg");
}

.heart {
  background-image: url("assets/heart-token.svg");
}

@media only screen and (min-width: 1224px) {
  .inset-panel, .player-display, .test, .win-grid, .game-board {
    border-radius: 5px;
  }
  
  main {
    width: 1224px;
  }

  .inset-panel {
    padding: 30px;
  }

  .test {
    height: 185px;
  }

  .win-grid {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    column-gap: 15px;
    row-gap: 15px;
    margin: 15px;
  }

  .game-board {
      grid-template-columns: repeat(3, 120px);
      grid-template-rows: repeat(3, 120px);
  }

}

@media only screen and (min-width: 1824px) {
  .inset-panel, .player-display, .test, .win-grid, .game-board {
    border-radius: 7.5px;
  }
  
  main {
    width: 1824px;
  } 
  
  .inset-panel {
    padding: 50px;
  }

  .test {
    height: 295px;
  }
  
  .win-grid {
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    grid-auto-columns: 110px;
    grid-auto-rows: 110px;
    column-gap: 25px;
    row-gap: 25px;
    margin: 25px;
  }
  
  .game-board {
      grid-template-columns: repeat(3, 160px);
      grid-template-rows: repeat(3, 160px);
  }
}

@media only screen and (min-width: 2424px) {
  .inset-panel, .player-display, .test, .win-grid, .game-board {
    border-radius: 10px;
  }
  
  main {
    width: 2424px;
  }

  .inset-panel {
    padding: 70px;
  }

  .test {
    height: 405px;
  }

  .win-grid {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-auto-columns: 150px;
    grid-auto-rows: 150px;
    column-gap: 35px;
    row-gap: 35px;
    margin: 35px;
  }

  .game-board {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
  }
}