* {
    margin: 0px 0px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.player-board {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 100px;
}

.player-board > section {
    width: 80%;
}

.player-display {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.player-display > img {
    height: 60%;
}

.win-count {
    font-size: x-large;
    margin-top: 10px;
}

.win-display {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    padding: 10px;
}

.mini-game-board {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    margin: 10px;
}

.mini-square {
    width: 30px;
    height: 30px;
}

.play-area {
    border-left: solid black;
    border-right: solid black;
    font-size: x-large;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 110px;
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-token {
    width: 10%;
}

.game-message {
    margin-left: 5px;
}

.game-board {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    padding: 20px;
}

.board-square {
    width: 10vw;
    height: 10vw;
}