/********** ------ Global Styles ------ **********/

* {
    margin: 0px 0px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.hidden {
    display: none !important;
}

.clear {
    position: fixed;
    top: 10px;
    left: 10px;
}   

/********** ------ Player Board Styles ------ **********/

.player-board {
    background-color: #cbc8c8;
    width: 27.5%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 100px;
}

/* ------ Player Displays ------ */

.player-display {
    margin: 0px 0px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.player-display > img {
    width: 55px;
    height: 55px;
}

.win-count {
    font-size: x-large;
    margin-top: 10px;
}

/* ------ Win Displays ------ */

.win-display {
    max-width: 340px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
}

.mini-game-board {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    justify-self: center;
    padding: 5px;
    border: solid black thin;
}

.mini-square {
    border: none;
    background-color: white;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
}

/* .mini-square.right-bottom-border {
    border-right: solid black thin;
    border-bottom: solid black thin;
}

.mini-square.right-border {
    border-right: solid black thin;
}

.mini-square.bottom-border {
    border-bottom: solid black thin;
} */

/********** ------ Play Area Styles ------ **********/

.play-area {
    background-color: #EFEFEF;
    border-left: solid black thin;
    border-right: solid black thin;
    font-size: x-large;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

/* ------ Status Box ------ */

.status-box {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-token {
    width: 80px;
    height: 80px;
}

.status-message {
    margin-left: 5px;
}

/* ------ Game Board ------ */

.game-board {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border: solid black thin;
}

.board-square {
    background-color: white;
    width: 10vw;
    height: 10vw;
    padding: 0px 0px;
    background-size: 90%;
    background-repeat: no-repeat;
    outline: none;
    box-shadow: none;
    border: none;
}

.board-square.right-bottom-border {
    border-right: solid black thin;
    border-bottom: solid black thin;
}

.board-square.right-border {
    border-right: solid black thin;
}

.board-square.bottom-border {
    border-bottom: solid black thin;
}

.raven {
    background-image: url("assets/raven-token.png");
}

.heart {
    background-image: url("assets/heart-token.png");
}
